@model Web.UI.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var m in Model.DashboardItems)
    {
        <div class="col-md-4 jumbotron">
            <h2>@m.Name</h2>
            <p>@m.Description</p>
            @Html.ActionLink("View more >", "Index", "Employees", null, new { @class = "btn btn-default" })
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
    }    
</div>